body,html, #wrap{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 1599px) {
  .logo {
    width: 100px;
    margin-right: 4%; }
  .header__back-call {
    padding-right: 15px;
    padding-left: 15px; } }

@media (max-width: 1439px) {
  #button-up {
    right: 15px;
    bottom: 50px;
    width: 35px;
    height: 35px; }
    #button-up::before {
      margin-top: -4px;
      right: 11px;
      width: 12px;
      height: 12px;
      border-top-width: 2px;
      border-right-width: 2px; }
  .header__back-call {
    font-size: 0.8125rem; } }

@media (max-width: 1199px) {
  .header-nav {
    max-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .aside-support {
    padding-bottom: 80px;
    margin-top: auto;
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .aside-support__logo {
    margin-bottom: 5px;
    max-width: 40px; }
  .aside-support__phone {
    color: inherit;
    font-weight: 400;
    font-size: 1.25rem; }
  .aside-support__call {
    margin-top: 10px; }
  .menu-item-decor {
    width: 40px;
    height: 20px;
    position: absolute;
    right: -20px;
    top: 10px;
    z-index: 10;
    display: block; }
    .menu-item-decor::before {
      width: 9px;
      height: 9px;
      border-bottom: 2px solid #000;
      border-left: 2px solid #000;
      display: block;
      content: '';
      -webkit-transform: rotate(-135deg);
              transform: rotate(-135deg);
      position: absolute;
      right: 20px;
      top: 6px;
      transition: all 0.3s linear; }
  .opened-submenu .menu-item-decor::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .vacancies-info__box {
    padding: 30px 35px 35px; }
  .contact-us-head {
    padding: 35px; }
  .contact-us-content {
    padding: 35px 20px; }
  .contact-us-left, .contact-us-right {
    padding: 0 15px; }
  .header-support {
    margin-left: auto; }
  .news-section__events {
    padding-bottom: 50px; }
  .footer-support {
    max-width: 230px; }
  .news-section .btn-light {
    height: 46px; }
  .header__back-active {
    display: none; }
  .nav-active {
    width: 87px;
    height: 75px;
    margin-left: -20px;
    margin-right: 30px;
    background-color: #7ab6e4;
    position: relative;
    cursor: pointer; }
    .nav-active::before {
      width: 32px;
      height: 2px;
      top: 37px;
      left: 28px;
      position: absolute;
      background-color: #fff;
      content: '';
      transition: all 0.3s ease;
      box-shadow: 0 9px 0 #fff, 0 -9px 0 #fff; }
    .nav-active span {
      opacity: 0; }
    .nav-active .cancel {
      width: 22px;
      height: 22px;
      fill: #fff;
      position: absolute;
      top: 20px;
      left: 24px;
      opacity: 0;
      transition: all 0.3s ease; }
  .nav-active__open .cancel {
    opacity: 1; }
  .nav-active__open::before {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%); }
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .menu-item__link {
    padding: 15px 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .header-nav {
    width: 300px;
    height: 100%;
    top: 75px;
    left: 0;
    padding: 20px;
    background-color: #fff;
    position: fixed;
    z-index: 12;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    transition: -webkit-transform 0.5s cubic-bezier(0, 0, 0.2, 1);
    transition: transform 0.5s cubic-bezier(0, 0, 0.2, 1);
    transition: transform 0.5s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.5s cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2); }
  .header-nav__open {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@media (max-width: 991px) {
  .services-list__item {
    margin-bottom: 30px; }
  .vacancies-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .news-section-half {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .news-section-half .news-section__block {
    width: 100%; }
  .contact-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer-support-phone {
    font-size: 1.75rem; }
  .footer-support {
    max-width: 190px; }
  .footer-links {
    display: none; }
  .footer-shared {
    max-width: 270px; }
  .home-company {
    padding-top: 40px;
    padding-bottom: 40px; }
  .news-section .btn-light,
  .news-section .btn-red {
    -ms-flex-item-align: start;
        align-self: flex-start; }
  .app-connect .ui-field {
    max-width: 250px; }
  .app-connect form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .app-connect .btn {
    max-width: 250px; }
  .footer-bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer-copy {
    padding-top: 30px;
    width: 100%; } }

@media (max-width: 767px) {
  .not-found {
    padding-top: 75px;
    padding-bottom: 50px; }
    .not-found::before {
      margin-bottom: 0; }
  .pagination-section {
    padding-top: 50px; }
  .services-list {
    padding: 0 15px; }
  .services-list__content {
    padding: 15px; }
  .services-list__title {
    padding: 0 15px; }
  .news-section {
    margin-left: -15px;
    margin-right: -15px; }
  .contact-us {
    margin-left: -15px;
    margin-right: -15px; }
  .contacts-page h1 {
    padding-top: 20px;
    padding-bottom: 30px; }
  .contacts-page__map {
    height: 200px; }
  .contacts-page__info {
    padding: 15px;
    margin-left: -15px;
    margin-right: -15px; }
  .panel-heading .panel-heading__decor {
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .panel-body {
    padding: 0 15px 15px; }
  .panel-heading {
    padding: 25px 50px 20px 15px;
    font-size: 1.25rem; }
  .contact-us-left, .contact-us-right {
    padding: 0; }
  .breadcrumbs {
    display: none; }
  .article-content {
    padding: 30px 15px; }
  h1, .h1 {
    font-size: 1.875rem; }
  .header-page {
    font-size: 1.125rem; }
    .header-page .container {
      min-height: 395px;
      padding-top: 75px;
      padding-bottom: 50px; }
  .pagination {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .news-filter__item:not(:first-child) {
    margin-bottom: 10px; }
  .pagination-section .show-more {
    margin-bottom: 50px; }
  .news-list__title {
    font-size: 1.5rem; }
  .news-filter {
    padding: 30px 15px;
    margin-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .news-list__item {
    padding-left: 15px;
    padding-right: 15px; }
  .modal-content {
    padding: 20px; }
  .modal .ui-group {
    margin-bottom: 20px; }
  .specialist-contact {
    top: -10px; }
  .modal-close {
    right: 0;
    border: 0; }
  .header-login {
    display: none; }
  .header-home__title {
    font-size: 1.75rem; }
  .app-connect .ui-field:focus {
    border-color: transparent; }
  .contact-us-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .contact-us-left, .contact-us-right {
    width: 100%; }
  .header__back-text {
    display: none; }
  .header__back-active {
    display: block; }
  .home-integrations__quest {
    padding-left: 20px;
    padding-right: 20px; }
  .app-connect .btn,
  .app-connect .ui-field {
    max-width: 45%; }
  .footer-top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .footer-menu {
    width: 100%;
    margin-bottom: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; } }

@media (max-width: 650px) {
  .header-support {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header__back-call {
    color: #d12e27;
    margin-top: 5px;
    padding: 0;
    background-color: transparent; } }

@media (max-width: 575px) {
  .footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header-phone {
    display: none; }
  .logo {
    margin-right: auto; }
  .home-integrations__block, .news-section__events, .news-section__block, .contact-us-head, .contact-us-content {
    padding-left: 15px;
    padding-right: 15px; }
  .footer-shared {
    max-width: 100%;
    margin-bottom: 50px; }
  .footer-support {
    max-width: none;
    width: 100%; }
  .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer-copy {
    text-align: center; }
  .footer-bottom a:not(:last-of-type) {
    margin-bottom: 20px; }
  .app-connect form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .app-connect .btn, .app-connect .ui-field {
    max-width: 100%; }
  .home-company__title {
    font-size: 1.5625rem; }
  .home-company__text {
    margin-bottom: 40px; }
  .header-home::before,
  .header-home::after {
    top: 60px; }
  .article-content {
    margin-left: -15px;
    margin-right: -15px; }
  .header-nav {
    top: 60px; }
  .services-list__item {
    width: 100%; }
  .header {
    height: 75px; }
  .header-search {
    top: 60px; }
  .header-home__text {
    line-height: 1.4; }
  .home-content::before {
    display: none; }
  .home-content__first {
    margin-top: 0; }
  .main-content {
    padding-top: 60px; }
  .header {
    height: 60px; }
  .header-search-area {
    padding-left: 0; }
  .header-search-logo {
    display: none; }
  .header-home {
    margin-top: -60px;
    height: 100vh;
    padding-top: 90px; }
  .header-support {
    display: none; }
  .nav-active {
    width: 65px;
    height: 60px;
    margin-right: 25px; }
  .nav-active::before {
    width: 30px;
    top: 30px;
    left: 20px; }
  .header__back-call {
    margin-right: 20px;
    padding-right: 10px;
    padding-left: 10px; }
  .home-content-h3 {
    font-size: 1.75rem; } }

@media (max-width: 415px) {
  .not-found::before {
    height: 210px; } }

/* -------------------------- */
@media (min-width: 1921px) {
  .header-home::after {
    background-size: cover; }
  .home-company::before {
    background-size: cover; } }

@media (min-width: 1440px) {
  .footer-support-address {
    white-space: nowrap; }
  .header-phone {
    font-size: 1.5625rem; }
  .header__back-call {
    font-size: 0.875rem; } }

@media (min-width: 1360px) {
  .header-home .container {
    padding-right: 265px; }
  .header {
    padding-left: 7%;
    padding-right: 7%; } }

@media (min-width: 1200px) {
  .aside-support {
    display: none; }
  .news-filter {
    padding: 36px 50px; }
  .submenu {
    padding-top: 27px;
    position: absolute;
    z-index: 10;
    top: 100%;
    pointer-events: none;
    opacity: 0;
    display: block !important;
    transition: all 0.3s ease; }
  .menu-item-parent {
    padding-right: 9px; }
    .menu-item-parent:after {
      width: 5px;
      height: 5px;
      border-bottom: 1px solid #000;
      border-left: 1px solid #000;
      display: block;
      content: '';
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      position: absolute;
      right: -3px;
      top: 7px;
      transition: all 0.3s linear; }
    .menu-item-parent:hover::after {
      top: 8px;
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg); }
    .menu-item-parent:hover .submenu {
      opacity: 1;
      pointer-events: auto; }
  .nav-active-close, .nav-active {
    display: none; }
  .vacancies-info__box {
    line-height: 1.5;
    padding: 30px 50px 50px; }
  .menu-item__level-1:not(:last-child) {
    margin-right: 6%; }
  .news-section__events {
    width: 385px;
    float: right; }
  .news-section .news-section__general {
    margin-right: 385px; }
  .news-section-half {
    margin-right: 385px; }
  .footer-top, .footer-bottom {
    margin-left: -15px;
    margin-right: -15px; }
  .footer-support {
    max-width: 300px; } }

@media (min-width: 992px) {
  .services-list__item {
    max-width: calc(100% / 3 - 20px);
    -ms-flex-preferred-size: calc(100% / 3 - 20px);
        flex-basis: calc(100% / 3 - 20px);
    margin-bottom: 35px; }
  .vacancies-info__box {
    max-width: calc(100% / 3);
    -ms-flex-preferred-size: calc(100% / 3);
        flex-basis: calc(100% / 3); }
  .home-company {
    padding-top: 70px;
    padding-bottom: 70px; }
    .home-company .container {
      padding-left: 100px;
      padding-right: 100px; }
  .home-integrations__quest {
    max-width: 385px; }
  .news-section-half .news-section__block {
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
  .contact-us-head {
    max-width: 33%;
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%; }
  .contact-us-content {
    max-width: 77%;
    -ms-flex-preferred-size: 77%;
        flex-basis: 77%; }
  .footer-support-phone {
    font-size: 1.875rem; } }

@media (min-width: 768px) {
  .contacts-page__wrap {
    width: 100%;
    height: 695px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .contacts-page__map {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute; }
  .contacts-page__info {
    width: 380px;
    padding: 30px 30px 15px; }
  .panel {
    min-height: 100px;
    font-size: 1.125rem; }
  .news-filter {
    margin-bottom: 25px; }
  .news-list__item {
    z-index: 15;
    position: relative; }
  .news-filter__item:not(:first-child) {
    margin-right: 5px; }
  .pagination {
    margin-top: -39px; }
  .header-page {
    font-size: 1.25rem; }
    .header-page .container {
      padding-bottom: 60px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .modal-content {
    padding: 50px; }
  .contact-us-right {
    padding: 0 25px;
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
  .contact-us-left {
    padding: 0 25px;
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
  .footer-bottom a:not(:last-of-type) {
    margin-right: 60px; } }

@media (min-width: 561px) {
  .home-company__text {
    font-size: 1.25rem; } }

@media (min-width: 576px) {
  .news-section__block, .home-integrations__block {
    padding-left: 50px;
    padding-right: 50px; } }

@media (min-width: 568px) and (max-width: 991px) {
  .services-list__item {
    max-width: calc(100% / 2 - 15px);
    -ms-flex-preferred-size: calc(100% / 2 - 15px);
        flex-basis: calc(100% / 2 - 15px);
    margin-bottom: 30px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .news-filter__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center; }
  .news-filter__link {
    padding-left: 5%;
    padding-right: 5%;
    white-space: nowrap; } }

@media (min-width: 768px) and (max-width: 1199px) {
  .news-filter {
    padding: 30px; }
  .news-list__item {
    padding-left: 30px;
    padding-right: 30px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .services-list {
    padding: 15px; } }

@media (min-width: 1200px) and (max-width: 1600px) {
  .menu-item__link {
    font-size: 0.9375rem; } }

@media (min-width: 1260px) and (max-width: 1359px) {
  .header {
    padding-left: 5%;
    padding-right: 5%; } }

@media (min-width: 1200px) and (max-width: 1439px) {
  .header__back-call {
    color: #d12e27;
    margin-top: 5px;
    background-color: transparent; }
  .header-support {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

@media (min-width: 1440px) and (max-width: 1599px) {
  .menu-item__level-1:not(:last-child) {
    margin-right: 5%; } }