.back-call.btn {
    background: #d12e27;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-radius: 0;
    box-shadow: none;
    line-height: 16px;
    margin: 0 40px;
    padding: 12px 18px;
  }