*.pyc
__pycache__/
*.dev.json
*.sqlite3
*.env
*.css
deploy/
incoming/
node_modules/
frontend/build/
apps/templates/index.html
apps/templates/_.html
apps/static/js/
static/js/
static/css/
/public
logs/
utility/ansible/vars/