@media screen and (max-width: 320px) {
  body {
    border: none;
  }
  .mm-wrap {
    height: 100%;
    width: 100%;
    z-index: 11;
    background: white;
    position: absolute;
    overflow: hidden;
  }
  .mm-inner {
    height: 100%;
    padding: 16px;
  }
  .mm-logo {
    height: 20px;
    width: 58px;
    background-image: url(/static/images/layout/Union-black.svg);
    background-size: cover;
  }
  .mm-open-btn {
    background: url(/static/images/layout/MenuIcon.svg) no-repeat;
    top: 16px;
    right: 16px;
    position: absolute;
    width: 24px;
    height: 16px;
    z-index: 11;
  }
  .mm-close-btn {
    width: 18px;
    background: url(/static/images/layout/CloseIcon.svg) no-repeat;
  }
  .mm-header {
    display: flex;
    justify-content: space-between;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    margin: 64px 0;
    height: 30%;
    justify-content: space-between;
    a {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      align-items: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #6f6f6f;
      opacity: 0.6;
      text-decoration: none;
      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
  }
  .mm-phone {
    display: block;
    text-align: center;
    padding: 32px 0;
    color: #2745ff;
    border-top: 1px solid #e6efff;
    text-decoration: none;
    font-size: 16px;
    line-height: 28px;
    margin-top: 210px;
  }
  #hamburger {
    display: none !important;
  }
}
