#content {
  background: #f7faff;
}
.HPBlock {
  padding: 100px 0;
  background-color: white;
  & h2 {
    font-size: 40px;
    color: #3450ff;
    margin-bottom: 55px;
  }
}

@media screen and (max-width: 1024px) {
  html,
  body {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
  .HPBlock {
    padding: 20px 0;
    background-color: white;
    h2 {
      font-size: 32px;
      margin-bottom: 50px;
    }
  }
  #banner_holder {
    height: 640px;
  }
  #content {
    & .container {
      max-width: 100%;
    }
  }
  .Vacancies_divider {
    width: 60% !important;
  }
  .Projects__wrap {
    overflow: hidden;
  }
  nav {
    width: 60% !important;
    a {
      color: white !important;
    }
  }
  .PageWrap {
    margin: 0 !important;
    padding: 5px;
    .Job {
      padding: 30px 0 !important;
    }
    .container {
      padding-top: 100px;
    }
  }
  .Job__title {
    font-size: 22px !important;
  }
  .headerPhone {
    color: white !important;
  }
  .Projects__list ul {
    position: relative;
  }
  #content {
    padding: 60px 0;
  }
}
@media screen and (max-width: 1024px) {
  .PageWrap {
    padding: 20px;
  }
}
