.Projects {
  &__list {
    max-width: 588px;
    margin: 0 84px;
    & ul {
      list-style: none;
      padding: 0;
      & li {
        padding-left: 24px;
        font-size: 18px;
        line-height: 26px;
        color: #6f6f6f;
        padding-bottom: 24px;
        &::before {
          content: "\2022";
          color: #3450ff;
          font-weight: bold;
          position: absolute;
          width: 32px;
          margin-left: -24px;
          font-size: 32px;
        }
      }
    }
  }
  &__title {
    font-size: 32px;
    line-height: 42px;
    color: #212529;
  }
  &__wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    & + .Projects__wrap {
      justify-content: flex-start;
      & .Projects__list {
        max-width: 640px;
      }
    }
    img {
      max-width: 979px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .Projects__wrap {
    flex-direction: column;
  }
  .BusinessDirection {
    padding: 10px;
    &__wrap {
      padding: 5px;
    }
    &__img {
      text-align: center;
    }
  }
  .Projects__list {
    margin: 0 10px;
    h3 {
      font-size: 24px;
      line-height: 32px;
    }
  }
}

@media screen and (max-width: 320px) {
  #HomePage_Projects {
    margin-bottom: 30px;
    h2 {
      margin: 45px 0 29px 0;
      font-size: 26px;
      line-height: 30px;
    }
  }
  .Projects {
    &__list {
      margin: 0 16px;
      & h3 {
        font-size: 19.5px;
        line-height: 26px;
      }
      ul li {
        font-size: 17px;
        letter-spacing: -1px;
        &::before {
          margin-left: -28px;
        }
      }
    }
    &__wrap img {
      max-width: 90%;
    }
  }
  .Projects__wrap + .Projects__wrap {
    flex-direction: column-reverse;
  }
}
