#HomePage_Vacancies {
  & h2 {
    margin-bottom: 110px;
  }
}
.Vacancies_divider {
  height: 2px;
  width: 618px;
  background: #e6efff;
  margin: auto;
}
.Vacancies_wrap {
  display: flex;
  justify-content: space-between;
  color: #6f6f6f;
  & h3 {
    color: black;
  }
  & > div {
    width: 42%;
  }
}
.Vacancies_info {
  & h3 {
    color: #212529;
    display: flex;
    align-items: center;
  }
  & span {
    display: inline-block;
    background: #212529;
    color: white;
    border-radius: 100%;
    font-family: Roboto;
    font-size: 18px;
    line-height: 26px;
    margin-left: 20px;
    width: 26px;
    text-align: center;
  }
  & div {
    margin-bottom: 16px;
  }
  & a {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    letter-spacing: 0.25px;
    display: flex;
    align-items: center;
    &:hover {
      text-decoration: underline;
    }
    & > img {
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .Vacancies_wrap {
    flex-direction: column;
    & > div {
      width: 100%;
      padding: 5px;
    }
  }
}

@media screen and (max-width: 320px) {
  #HomePage_Vacancies {
    padding-bottom: 80px;
    .hp-header {
      margin-bottom: 10px;
      font-size: 26px;
      line-height: 30px;
    }
  }
  .Vacancies_wrap {
    padding: 0 16px;
    div {
      padding: 0;
    }
    h3 {
      font-size: 20px;
      line-height: 26px;
    }
    h3 + div {
      font-size: 18px;
      line-height: 26px;
    }
  }
  .Vacancies_info {
    span {
      display: none;
    }
  }
}
