.Footer {
  padding-top: 67px;
  color: white;
  height: 609px;
  background: url(/static/images/layout/footer-bg.png);

  a {
    color: white;
    text-decoration: none;
  }

  .f-col {
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 42px 16px 32px 22px;
    & + .f-col {
      padding-left: 128px;
    }
  }

  &__contact-info {
    margin-bottom: 38px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    & .upper {
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
    }
  }

  & .container {
    padding: 80px 0 0 0;
    width: 61.5%;
    & .f-row {
      align-items: flex-end;
    }
  }
}
.ContactForm {
  & h1 {
    margin: 0 0 10px 0;
  }
  & p {
    font-weight: 200;
    font-size: 22px;
    margin: 0 0 24px 0;
  }
  & .btn {
    padding: 8px 40px;
    border-radius: 6px;
    box-shadow: 0px 6px 12px rgba(0, 196, 140, 0.2), 0px 16px 24px rgba(0, 196, 140, 0.2);
    border: none;
    background: #16c6a2;
    &:hover {
      box-shadow: none;
    }
    &:active {
      background: #00bc95;
    }
  }
  &__form {
    max-width: none;
  }
  & .formInput__input {
    &::placeholder {
      font-size: 15px;
      line-height: 20px;
    }
  }
  & .form-group {
    margin-bottom: 16px;
    & + .formInput {
      margin-bottom: 24px;
    }
  }
  & #message {
    min-height: 110px;
  }
}

@media screen and (max-width: 600px) {
  .Footer {
    padding-top: 67px;
    color: white;

    .f-col {
      flex-basis: 100%;
      padding: 16px;
      box-sizing: border-box;
    }

    &__contact-infos {
      text-align: center;
      padding: 32px;
      margin-bottom: 32px;
      font-size: 14px;
    }

    &__contact-info {
      margin-bottom: 8px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .Footer {
    height: auto;
    padding: 0;
    &__contact-infos {
      margin-bottom: 0;
      padding-bottom: 0;
    }
    .container {
      width: 100%;
      padding: 0;
    }
    & .formInput.name {
      margin-bottom: 15px;
    }
    .ContactForm__title {
      font-size: 24px;
    }
    .f-row {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 1007px) {
  .Footer {
    & .f-col + .f-col {
      padding: 0;
    }
  }
}
@media screen and (max-width: 320px) {
  .Footer {
    .f-col {
      padding: 48px 16px 16px 16px;
    }
    .ContactForm {
      &__title {
        text-align: left;
        font-size: 26px;
        line-height: 30px;
      }
      &__form {
        padding: 16px 0;
      }
      p {
        font-size: 18px;
        line-height: 106.25%;
        margin-bottom: 0;
      }
      .btn {
        width: 100%;
      }
    }
    #ContactInfo {
      padding: 16px 16px 40px 16px;
      text-align: left;
    }
    &__contact-info {
      div + div {
        font-size: 20px;
        line-height: 26px;
        font-family: "Roboto";
        letter-spacing: 0.15px;
      }
    }
  }
}
