header {
  width: 100%;
  height: 75px;
  margin: 0 auto;
  background-color: #fff;
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);

  .container {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    padding: 0 7%;
    max-width: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .headerPhone {
    display: inline-block;
    color: currentColor;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    padding: 12px 0;
  }
}

.UepLogo {
  margin-left: 7%;
  display: flex;
  flex-shrink: 0;
}

@media (max-width: 575px) {
  header {
    height: 60px;
  }
}
@media (min-width: 1360px) {
  .header-home .container {
    padding-right: 265px;
  }
}
@media (min-width: 1260px) and (max-width: 1359px) {
}
@media screen and (max-width: 1024px) {
  header {
    padding: 18px;
    background-color: rgb(32, 28, 228);
    .headerPhone {
      display: inline-block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
