header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: background-color 200ms linear;
  height: 64px;
  padding: 12px;
  &.scrolled {
    background-color: rgb(32, 28, 228);
  }

  .container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    flex-flow: row nowrap;
    align-items: center;
    color: white;
  }

  .headerPhone {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    padding: 12px 0;
  }
  &.vacancies-page {
    &:not(.scrolled) {
      .headerPhone {
        color: black;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  header {
    padding: 18px;
    background-color: rgb(32, 28, 228);
    .headerPhone {
      display: inline-block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
