.UepLogo {
  display: block;
  width: 47px;
  height: 63px;
  background-image: url("https://192.168.1.112/templates/img/logo-vertical.svg");
  background-repeat: no-repeat;
  background-size: contain;
}